<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <system.webServer>
    <rewrite>
      <rules>
        <!-- Redirect Android devices to static HTML -->
        <rule name="Android Redirect" stopProcessing="true">
          <match url="^$" />
          <conditions>
            <add input="{HTTP_USER_AGENT}" pattern="Android" ignoreCase="true" />
          </conditions>
          <action type="Redirect" url="/index.html" redirectType="Temporary" />
        </rule>
        
        <!-- Redirect Google WebView to static HTML -->
        <rule name="Google WebView Redirect" stopProcessing="true">
          <match url="^$" />
          <conditions>
            <add input="{HTTP_USER_AGENT}" pattern="Google.*Mobile|Googlebot|Google WebView" ignoreCase="true" />
          </conditions>
          <action type="Redirect" url="/index.html" redirectType="Temporary" />
        </rule>
      </rules>
    </rewrite>
    
    <!-- Set MIME types -->
    <staticContent>
      <mimeMap fileExtension=".html" mimeType="text/html" />
    </staticContent>
  </system.webServer>
</configuration>
